body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
.banner-section{
    background-color: #2D25A0;
    width: 100%;
    height: 600px;
    
}


.top-banner,.highlight-banner{
    display: flex;
   
    
}

.half-width{
    width: 40%;
     margin-top: 8%;
    margin-bottom: 8%;
    margin-left: 6%;
    margin-right: 08%;
}
.half-width img{
    width: 550px;
    height: 450px;
    margin-left: 0;
}
.banner-title{
    color: #FFFFFF;
    font-size: 3.5em;
    margin-bottom: 0;
}
.link-button{
    color: #FFFFFF;
    text-decoration: none;
    background-color:#E02C6D;
    padding: 5px 15px ;
    font-size: 12px;
    transition: 2s ease-in-out;
    
}
/* ---------hover in top section -----------*/

.banner-section:hover .half-width p{
    transform: translate(30%);
    transition: transform 1s ease-in-out;
}
.banner-section:hover .half-width img{
    transform: scale(1.2);
    transition: transform 2s ease-in-out;
}

/*----------------------
 Card styles begins from here
 ------------------------- */
.container{
    background-color: #FFFF;
    margin-top:5%;
box-shadow: 20px 2px 40px grey;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    box-sizing: border-box;
}
.card-img img{
    width: 100%;
    border-radius: 5px;
}
.img-heading{
    color:#2D25A0;
    font-size: 1.5em;
}
.card-body{
    padding: 10px;
    overflow: hidden;
}

/* ----------hover and tranform effect for card body -------*/
.card-body:hover .img-heading{
    transform: translate(50px);
    transition: transform 0.5s ease-in-out;
}
.card-body:hover .card-img img{
    transform: scale(1.2);
    transition: transform 1s ease-in-out;

}

/* highlight section */
.highlights-section{
    background-color: #ffff;
    overflow: hidden;
    
}
.highlights-title{
    color: #0A0826;
    font-size: 2.8em;
    margin-bottom: 0;
    margin-top: 20%;
    
}
.highlights-section:hover p{
    transform: translate(20%);
    transition: transform 1s ease-in-out;
}
.highlights-section:hover .half-width img{
    transform: scale(1.3);
    transition: transform 1s ease-in-out;
}
.league-title{
    color:#F3F1FF;
    justify-content: center;
    
}
.live-score{
    margin: 30px;
}
.scores{
    background-color: #2D25A0;
    padding: 10px;
   
}
.live-btn{
    text-decoration: none;
    font-size: 18px;
    padding: 5px 12px;
    color: #F3F1FF;
    border: 1px solid wheat;
    background-color:#E02C6D; 
    display: flex;
   
}
.team-logo{
    width: 250px;
    height: 250px;

}
.score-section{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    margin-top: 5%;
    
}
.result{
    margin-left: 7%;
    font-size: large;
}
.goal{
    font-size: 2em;
    justify-content: center;
}

/*-------------------------------------
------------Footer section ------------------------*/

.footer{
    width: 100%;
    text-align: center;
    padding:30px 0;
  }
  .logo img{
    width: 450px;
} 
.icons .fa{
    position: relative;
    margin: 0 8px;
    cursor: pointer;
    padding: 18px 0;
    width: 35px;
    height: 3px;
    border-radius: 50%;
    background-color: rgba(209, 199, 199, 0.589);
    display:inline-block;
    font-size: 120%;
    line-height: 40%;
    text-align: center;
    
    transition: 0.6s;
    color:black
  }
  .icons .fa:hover{
  
    transform: translate(0, -10px);
    
  }
  .icons a:nth-child(1) i{
    color:#3B5999;
  }
  .icons a:nth-child(2) i{
    color:#CD201F;
  }
  .icons a:nth-child(3) i{
    color:#0077B5;
  }
  .icons a:nth-child(4) i{
    color:#55ACEE;
    
  }
  .icons a:nth-child(1) i:hover{
    background-color:#3B5999 ;
    color: white
  }
  .icons a:nth-child(2) i:hover{
    color:white;
    background-color:#CD201F ;
  }
  .icons a:nth-child(3) i:hover{
    color:white;
    background-color:#0077B5 ;
  }
  .icons a:nth-child(4) i:hover{
    color:white;
    background-color:#55ACEE ;
  }